.intro_title, .intro_subtitle, .intro_text, .il_btn, ul li a, .column, input:not(.wpcf7-submit), select, textarea, input:not(.wpcf7-submit)::placeholder, select::placeholder, textarea::placeholder, .wpcf7 input[type="url"], .wpcf7 input[type="email"], .wpcf7 input[type="tel"], .menu-item {
  direction: rtl;
}

.hp-contact-us-section input:not(.wpcf7-submit) {
  direction: rtl !important;
}

.wpcf7-form {
  direction: rtl;
}