.il_tabs {
    padding: 5rem 0;
    .il_tabs_nav {
        direction: rtl;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            @include tab-max {
                margin-right: 0px;
            }
            @include limbo-min {
                margin-right: 15px;
                margin-top: 0px;
                margin-bottom: 0px;
            }
        }
        li {
            display: inline-block;
            background: var(--color-1);
            color: #fefefe;
            border-width: 1px 1px 0 1px;
            border-style: solid;
            border-color: #34495E;
            margin-right: 5px;
            @include tab-max {
                margin-right: 0px;
                margin-left: 5px;
            }
            @include limbo-min {
                box-shadow: 10px -5px 10px #00000010;
                border-radius: 10px 10px 0px 0px;
            }
            a {
                display: block;
                padding: 10px 15px;
                font-weight: bold;
                color: #fff;
                text-decoration: none;
            }
            &.active {
                background: #FFF;
                color: #000;
                a {
                    color: inherit;
                }
            }
        }
    }
    .il_tab {
        transition: var(--theme-transition);
    }
    .il_tabs_content {
        border: 1px solid var(--color-1);
        padding: 2rem;
        background: #FFF;
        margin-top: -1px;
        overflow: hidden;

        .il_tab:not(:first-child) {
            display: none;
        }
        @include tab-max {
            border-radius: 0px;
        }
        @include limbo-min {
            border-radius: 25px;
            border: 0px solid var(--color-1);
            padding: 2rem;
            background: #FFF;
            margin-top: -1px;
            overflow: hidden;
            box-shadow: 10px 10px 25px #00000020;
        }
    }
    @include mob-only {
        &.stack_tabs {
            ul {
                flex-direction: column;
                li {
                    width: 100%;
                    &.active {
                        order: 1;
                    }
                }
            }
        }
    }

    .il_tab_text {
        padding: 2em 2em 2em 5em;
        direction: rtl;
        @include limbo-max {
            padding: 2em 2em 2em 2rem;
        }
        .tabs-title-div {
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            text-align: right;
            gap: 12px;
            direction: rtl;
            @include tab-max {
                gap: 9px;
            }
            p {
                margin: 0;
                color: var(--color-1);
                font-size: 4.2rem;
                font-weight: 600;
                line-height: 1.1;
                @include tab-max {
                    font-size: 23px;
                }
            }
            img {
                width: 48px;
                @include limbo-max {
                    width: 36px;
                }
            }
        }
    }

    .wpcf7-submit {
        width: 100%;
    }

    .frm_style_formidable-style {
        select, input, textarea {
            box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.1);
        }

        .frm_top_container .frm_primary_label {
            height: auto !important;
            span {
                background: transparent;
            }
        }

        .vertical_radio .frm_checkbox label, .vertical_radio .frm_radio label {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px;
        }

        label {
            width: unset;
        }

        .frm_checkbox label input[type=checkbox], .frm_radio label input[type=radio] {
            margin-right: 10px;
            margin-left: 6px;
        }

        .frm_radio label input[type=radio] {
            &:before {
                margin: 3.5px !important;
            }
        }

        .frm_first.horizontal_radio .frm_checkbox:first-child label input[type=checkbox], .frm_first.horizontal_radio .frm_radio:first-child label input[type=radio] {
            margin-right: 0px;
        }
    }

    .frm-button-33 .frm_submit {
      @include desk-min {
        width: 33% !important;
        margin-right: auto !important;
      }
    }
}